<html>

<head>
    <script src="https://cdn.bootcss.com/socket.io/2.1.1/socket.io.dev.js"></script>
</head>

<h1>slave</h1>

<a id='shareRoomLink' href="/slave?roomId=4433">一起听课</a>

<script>
    const roomId = location.search.split('roomId=')[1];
    const shareRoomLink = document.querySelector('#shareRoomLink');
    shareRoomLink.href = "/slave?roomId=" + roomId;

    const socket = io.connect();	
    socket.emit('login', {userId:Math.random(), userName:'ssss', roomId});
    socket.on('operation', op => console.log(op));
</script>

</html>